html {
  height: 95vh;
  min-height: 95vh !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  margin-bottom: 0;
  max-width: 60rem;
  min-height: 95vh;
  background-color: #fafafa;
}

.box {
  height: 80vh;
}

.box .row.header {
  flex: 0 1 auto;
}
.box .row.content {
  height: 95%;
}
.box .row.footer {
  flex: 0 1 200px;
}


div.DraftEditor-root {
  border: 1px solid #BBBBBB;
  box-shadow: 2px 3px #BBBBBB;
  background-color: #ffffff;

  font-size:xx-large;
  padding: 25px;
  margin-top: 1em;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
}

div.DraftEditor-editorContainer1, div.public-DraftEditor-content {
  min-height: 100%!important
}